{{ ansible_managed | comment }}

[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
User={{ prometheus_user }}
Group={{ prometheus_system_group }}
Type=simple
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/prometheus \
--config.file {{ prometheus_symlink }}/prometheus.yml \
--storage.tsdb.path {{ prometheus_db }} \
--storage.tsdb.retention={{ prometheus_tsdb }} \
--storage.tsdb.wal-compression \
--web.console.templates={{ prometheus_console_templates }} \
--web.console.libraries={{ prometheus_console_lib }}

[Install]
WantedBy=multi-user.target
